.ui-widget {
    font-family: 'Montserrat', sans-serif;
    color: #2F2F37;
    font-size: 12px;
}
.ui-widget.ui-widget-content {
    border: none;
    padding: 12px 15px;
    padding-bottom: 5px;
    min-width: 304px;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
}
.ui-datepicker th {
    padding-bottom: 11px;
    border-bottom: 1px solid #ECEBED;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 16px;
}
.ui-datepicker .ui-datepicker-title {
    color: #2F2F37;
}
.ui-datepicker td {
    padding: 0;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    display: none;
}
.ui-widget-header {
    border: 0;
    background: none;
    color: #333333;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #2F2F37;
}
.ui-datepicker td span, .ui-datepicker td a {
    padding: 8px;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
    background: none;
    text-align: center;
}
.ui-widget-content .ui-state-highlight {
    color: black;
}
.ui-datepicker-current-day a {
    background: #8300FF !important;
    color: white;
}
.ui-datepicker td a:hover {
    background: #8300FF !important;
    color: white;
}
.ui-datepicker table {
    border-collapse: initial; 
    margin:0;
}
.ui-datepicker table {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #2F2F37;
    border-collapse: initial; 
    margin: 0;
}