
.ui-kit {
    padding: 40px;
}

.ui-kit__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

.ui-kit__bar {
    display: flex;
    flex-wrap: wrap;
}

.ui-kit__bar-item {
    margin-right: 20px;
    margin-bottom: 20px;
}