@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?91sak3');
  src:  url('fonts/icomoon.eot?91sak3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?91sak3') format('truetype'),
    url('fonts/icomoon.woff?91sak3') format('woff'),
    url('fonts/icomoon.svg?91sak3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-arrow-left:before {
  content: "\e900";
}
.icon-icon-arrow-right:before {
  content: "\e901";
}
.icon-icon-eye:before {
  content: "\e902";
}
.icon-icon-full-arrow-right:before {
  content: "\e903";
}
.icon-icon-mark:before {
  content: "\e904";
}
.icon-icon-search:before {
  content: "\e905";
}
